@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }
  
  /* PT Sans Narrow */
  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }

  
  html {
    height: 100%;
  }
  
  body {
    width: 1200px;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffffff;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-header {
    align-self: center;
    display: flex;
    width: 1060px;
    height: 70px;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo main-nav__logo {
    width: 138px;
    height: 70px;
    display: block;
    margin: 0;
  }

  .main-nav {
    width: 1060px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;
    justify-content: space-between;
  }

  .main-nav__list {
    justify-content: space-between;
    display: flex;
    width: 345px;
    height: 66px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    align-items: center;
  }

  .main-nav__item {
    justify-content: center;
    display: inline-flex;
    margin:0;
    padding:0;
    height: 26px;
    text-align: center;
  }

  .user-menu {
    display: flex;
    justify-content: flex-start;
    width: 345px;
    height: 66px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .user-menu-item {
    display:inline-block;
    width:20%;
    margin:0;
    padding:0;
  }

  .main-nav__link {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 0;
    padding: 0;
  }

  .want-here-button  {
    width: 160px;
    height: 37px;
    background-color: #756257;
    border-radius: 4px;
    color: #ffffff;
  }
  

  .first-screen {
    color: #000000;
    background-color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../images/big-photos/first-screen-background.jpg');
    width: 1200px;
    height: 767px;
  }

  .divider {
    width: 1200px;
    height: 57px;
  }

  .welcome-text  {
    text-align: center;
    padding-top: 51.4px;
  }
  .text-sedona-readons {
    display: flex;
    height: 282px;
    padding-top: 51.4px;
    text-align: center;
    color: black;
    margin: 0 auto;
    flex-direction: column;
  }

  .advantage-list-text {
    width: 400px;
    height: 384px;
    text-align: center;
  }

  .advantages-items-type-1 {
    background-color: #83B3D3;
    width: 1200px;
    display: flex;
  }

  .town {
      font-style: bold;
      font-family: "PT Sans", sans-serif;
      font-size: 30px;
      line-height: 36px;
  }

  .five-readons {
    font-style: regular;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px
  }

  .advantages {
    display: flex;
    width: 1200px;
    height: 1535px;
  }

  .advantages-list {
    display: flex;
    height: 1535px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
  }

 .advantages-title-main {
    font-family: "PT Sans", sans-serif;
     font-size: 24px;
     font-weight: 700;
     color:#ffffff;
 }

 .advantage-text-main {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#ffffff;
    line-height: 21px;
 }

 .advantages-items-type-2 {
   width: 400px;
   height: 384px;
   background-color: #83B3D31F;
   display: inline-block;
   margin: 0;
   text-align: center;
   border: none;
 }

 .advantage-name-secondary {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
 }

 .advantage-text-secondary {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
 }

 .interest {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    margin-top: 91px;
 }

 .approximate-data {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
 }

 .hotel-search {
   width: 1200px;
   height: 417px;
   text-align: center;
   justify-content: center;
   margin: 0;
 }

 .button-hotel-search {
     width: 575px;
     height: 60px;
     color: #756257;
     border-radius: 10px;
 }

 .page-footer-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:#ffffff;
    line-height: 36px;
 }

 .news-letter-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#ffffff;
    line-height: 26px;
    width: 720px;
    height: 52px;
 }

 .mailing {
     background-image: url('../images/big-photos/main-subscription-background.png');
     background-repeat: no-repeat;
     width: 1200px;
     height: 411px;
     margin: 0;
     display: flex;
     align-items: center;
     align-content: center; 
     justify-content: center; 
     overflow: auto;
 }

 .newsletter {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .newsletter-form {
width: 800px;
height: 60px;
display: flex;
 }

 .page-footer-title {
   width: 720px;
   height: 36px;
   display: block;
   text-align: center;
 }

 .news-letter-text {
   text-align: center;
 }

 .field {
   width: 600px;
   height: 60px;
   display: block;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border: none;
 }

.visually-hidden {
    display: none;
    margin: 0;
}

.newsletter-button {
    width: 200px;
    height: 60px;
    color: #ffffff;
    background-color: #83B3D3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.page-footer {
  width: 1200px;
  height: 120px;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;
}

.footer-social-list {
  display: flex;
  width: 107px;
  height: 18px;
  margin-top: 49px;
  margin-bottom: 53px;
  justify-content: space-between;
}

.footer-social-item {
  display: inline-block;
}

.footer-phone {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  width: 720px;
  height: 40px;
}

.academy-logo {
  display: flex;
  width: 115px;
  height: 34px;
}
.footer-phone-item {
  width: 720px;
  height: 40px;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle; 
}


.sorting {
  width: 1070px;
  height: 48px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  height: 1040px;
}

.product-card {
 width: 340px;
 height: 438px;
 list-style-type: none;
}

.page-container {
  display: flex;
    background-image: url('../images/big-photos/hotels-filter-background.jpg');
    background-repeat: no-repeat;
    width: 1200px;
    height: 408px;
    flex-wrap: wrap;
    flex-direction: column;
}

.catalog-filter-group {
  display: inline-block;
  border:0 none;
}

.inner-header-title-container {
  width: 528px;
  height: 68px;
  text-align: center;
  margin: 0;
}

.inner-header-title {
  color: #ffffff;
}

.sorting-result {
  width: 337px;
  height: 39px;
  background-color: #ffffff;
}

.sorting-result-text {
  color: #000000;
}

.breadcrumbs-item {
  display: inline-block;
}

.product-card-link {
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#ffffff;
    line-height: 36px;
}

.product-card-title {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.product-card-price {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23,29px;
    font-style: normal;
   
}

.product-card-button-detials {
    width: 133px;
    height: 37px;
    color: #ffffff;
    font-size: 16px;
    background-color: #756257;
    border-radius: 4px;
    line-height: 20px;
    font-style: normal;
    border: 0px;
}

.product-card-button-favorite {
  width: 133px;
  height: 37px;
  color: #ffffff;
  font-size: 16px;
  background-color: #82B3D3;
  border-radius: 4px;
  line-height: 20px;
  font-style: normal;
  border: 0px;
}

.show-more-button-container {
  display: flex;
  margin: 0;
  width: 1056px;
  height: 120px;
  justify-content: center;
}

.button-pagination-show-more {
  display: flex;
  width: 619px;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  border: 0px;
  flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.product-card-score {
  width: 160px;
  height: 37px;
  border: 0px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: bottom;
}

.pagination {
  width: 1056px;
  height: 55px;
  width: 1056px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.pagination-list {
  display: flex;
  padding: 0 5px;
}

.pagination-item {
  flex: 1 1 auto;
  margin: 0 5px;
  display: flex;
  width: 55px;
  height: 55px;
  background: #82B3D3;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-link {
text-decoration: none;
font-family: "PT Sans";
size: 20;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;
}

.mailing-catalog {
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;
}

.page-footer-title-catalog {
  width: 720px;
  height: 36px;
  display: block;
  text-align: center;
  color: #000000;
}

.news-letter-text-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  line-height: 26px;
  width: 720px;
  height: 52px;
  text-align: center;
}

.field {
  background-color: #F2F2F2;
}
