@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/pt-sans-italic.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
  }
  
  /* PT Sans Narrow */
  @font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/pt-sans-narrow-bold.woff2") format("woff2");
    font-display: swap;
  }

  
  html {
    height: 100%;
  }
  
  body {
    width: 1200px;
    min-height: 100%;
    flex-direction: column;
    display: flex;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    background-color: #ffffff;
  }

  .main-container {
    flex-grow: 1;
  }

  .page-header {
    align-self: center;
    display: flex;
    width: 1060px;
    height: 70px;
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo main-nav__logo {
    width: 138px;
    height: 70px;
    display: block;
    margin: 0;
  }

  .main-nav {
    grid-template-columns: 8em 2fr 1fr;
    width: 1060px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    align-content: center;
    overflow: auto;
    align-items: center;
  }

  .main-nav__list {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 345px;
    height: 66px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    align-items: center;
  }

  .main-nav__item {
    justify-content: center;
    display: inline-flex;
    margin:0;
    padding:0;
    height: 26px;
    text-align: center;
  }

  .user-menu {
    display: grid;
    width: 264px;
    height: 66px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .user-menu-item {
    margin-left: 36px;
    display: inline;
    width: 20%;
  }

  .main-nav__link {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 0;
    padding: 0;
  }

  .want-here-button  {
    width: 160px;
    height: 37px;
    background-color: #756257;
    border-radius: 4px;
    color: #ffffff;
  }
  

  .first-screen {
    color: #000000;
    background-color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url('../images/big-photos/first-screen-background.jpg');
    width: 1200px;
    height: 767px;
  }

  .divider {
    width: 1200px;
    height: 57px;
  }

  .welcome-text  {
    text-align: center;
    padding-top: 51.4px;
  }
  .text-sedona-readons {
    display: flex;
    height: 282px;
    padding-top: 51.4px;
    text-align: center;
    color: black;
    margin: 0 auto;
    flex-direction: column;
  }

  .text-sedona-readons {
    display: flex;
    flex-wrap: wrap;
    align-content: center
  }

  .advantage-list-text {
    width: 400px;
    height: 384px;
    text-align: center;
  }

  .advantages-items-type-1 {
    background-color: #83B3D3;
    width: 1200px;
    display: flex;
  }

  .town {
      font-style: normal;
      font-weight: 700;
      font-family: "PT Sans", sans-serif;
      font-size: 30px;
      line-height: 36px;
      width: 720px;
      height: 72px;;
  }

  .five-readons {
    font-style: regular;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px
  }

  .advantages {
    display: flex;
    width: 1200px;
    height: 1535px;
  }

  .advantages-list {
    display: flex;
    height: 1535px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
  }

 .advantages-title-main {
    font-family: "PT Sans", sans-serif;
     font-size: 24px;
     text-align: center;
     font-weight: 700;
     line-height: 28px;
     color:#ffffff;
     margin-top: 95px;
     width: 400px;
     height: 56px;
 }

 .advantage-text-main {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#ffffff;
    line-height: 21px;
    width: 220px;
    margin-left: 90px;
    margin-right: 90px;
 }
 .advantage-list-text-content {
   margin-top: 89px;
 }

 .advantages-items-type-2 {
   width: 400px;
   height: 384px;
   background-color: #83B3D31F;
   display: inline-block;
   margin: 0;
   text-align: center;
   border: none;
 }

 .advantages-items-type-3 {
  width: 400px;
  height: 384px;
  background-color: #ffffff;
  display: inline-block;
  margin: 0;
  text-align: center;
  border: none;
 }

.advantages-items-type-4 {
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
  display: inline-block;
  margin: 0;
  text-align: center;
  border: none;
}

.advantages-items-type-5 {
  background-color: #83B3D3;
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
}



 .advantages-title-secondary {
   margin-left: 75px;
   margin-right: 75px;
 }

 .advantage-name-secondary {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
 }

 .advantage-text-secondary {
   width: 250px;
   height: 73px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    margin-left: 75px;
 }

 .interest {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    padding-top: 91px;
    padding-left: 240px;
    padding-right: 240px;
    width: 720px;
    height: 52px;
 }

 .approximate-data {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
    width: 720px;
    height: 52px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 54px;
 }

 .hotel-search {
   width: 1200px;
   height: 417px;
   text-align: center;
   justify-content: center;
   margin: 0;
 }

 .button-hotel-search {
   font-weight: 700;
     width: 575px;
     height: 60px;
     color: #ffffff;
     background-color: rgba(117, 98, 87, 1);
     border-radius: 10px;
 }

 .page-footer-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color:#ffffff;
    line-height: 36px;
 }

 .news-letter-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color:#ffffff;
    line-height: 26px;
    width: 720px;
    height: 52px;
 }

 .mailing {
     background-image: url('../images/big-photos/main-subscription-background.png');
     background-repeat: no-repeat;
     width: 1200px;
     height: 411px;
     margin: 0;
     display: flex;
     align-items: center;
     align-content: center; 
     justify-content: center; 
     overflow: auto;
 }

 .newsletter {
   margin-right: 200px;
   margin-left: 200px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .newsletter-form {
width: 800px;
height: 60px;
display: flex;
 }

 .page-footer-title {
   width: 720px;
   height: 36px;
   display: block;
   text-align: center;
 }

 .news-letter-text {
   text-align: center;
 }

 .field {
   width: 600px;
   height: 60px;
   display: block;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border: none;
   padding-left: 22px;
 }

.visually-hidden {
    display: none;
    margin: 0;
}

.newsletter-button {
    width: 200px;
    height: 60px;
    color: #ffffff;
    background-color: #83B3D3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.page-footer {
  width: 1200px;
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: auto;
  align-content: center;
  align-items: center;
}

.footer-social-list {
  display: flex;
  width: 107px;
  height: 18px;
  margin-top: 49px;
  margin-bottom: 53px;
  justify-content: space-between;
}

.footer-social-item {
  display: inline-block;
}

.footer-phone {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  width: 720px;
  height: 40px;
}

.academy-logo {
  display: flex;
  width: 115px;
  height: 34px;
}
.footer-phone-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-size: 40px;
  width: 720px;
  height: 40px;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle; 
}


.sorting {
  width: 1070px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 44px;
  margin-bottom: 73px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 58px;
  padding-left: 0px;
  grid-row-gap: 50px;
  width: 1056px;
}

.product-card {
  grid-template-columns: 1fr 1fr;
  display: grid;
  list-style-type: none;
  flex-wrap: wrap;
}

.product-card-type {
  margin-top: 0px;
  width: 133px;
  height: 23px;
}

.stars-score {
  margin-top: 26px;
  margin-right: 49px;
  width: 91px;
  height: 17px;
}

.page-container {
  display: flex;
    background-image: url('../images/big-photos/hotels-filter-background.jpg');
    background-repeat: no-repeat;
    width: 1200px;
    height: 408px;
    flex-wrap: wrap;
    flex-direction: column;
}

.catalog-filter-group {
  display: inline-block;
  border:0 none;
}

.inner-header-title-container {
  width: 528px;
  height: 68px;
  text-align: center;
  margin-left: 71px;
  margin-right: 601px;
  margin-top: 35px;
}

.inner-header-title {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  margin: auto;
  vertical-align: bottom;
}

.sorting-result {
  display: flex;
  text-align: center;
  width: 337px;
  height: 39px;
  background-color: #ffffff;
  margin-right: 192px;
}

.sorting-result-text {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: auto;
}

.button-sorting {
  margin-right: 8px;
}

.button-sorting-light {
  margin-right: 8px;
}

.select-control-fisrt {
  margin-right: 81px;
  width: 287px;
  height: 48px;
}

.breadcrumbs {
  margin-left: 73px;
}

.breadcrumbs-item {
  display: inline-block;
}

.product-card-link {
  grid-column: 1 / -1;
  width: 100%;
  text-decoration: none;
}

.catalog {
  display: flex;
  justify-content: center;
}

.cost {
  padding-top: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.cost-text {
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 34px;
}

.cost-table {
  height: 48px;
  width: 287px;
  background-image: url('images\vector-logos\Rectangle 33.svg');
}



.range {
  color:#ffffff;
  height: 4px;
}

.catalog-filter-title {
  padding-left: 71px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 36px;
}

.catalog-filter-item {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.catalog-filter-list {
  padding-left: 72px;
  list-style-type: none;
  gap: 16px;
  display: grid;
}

.range {
  width: 287px;
}

.filter-buttons {
  display: grid;
  padding-top: 25px;
  flex-direction: column;
  margin-left: 81px;
  margin-right: 72px;
}

.button-set {
  border-radius: 10px;
  color: #ffffff;
  width: 160px;
  height: 48px;
  background-color: rgba(131, 179, 211, 1);
  font-size: 16px;
}

.button-reset {
  width: 160px;
  height: 23px;
  background: transparent;
  border: none;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

.product-card-title {
  margin-top: 16px;
  margin-bottom: 16px;
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

.product-card-image {
  width: 100%;
}

.product-card-price {
    color: #000000;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23,29px;
    font-style: normal;
    padding-left: 25px;
    width: 143px;
    height: 23px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.product-card-button-detials {
  margin-right: 26.5px;
    width: 133px;
    height: 37px;
    color: #ffffff;
    font-size: 16px;
    background-color: #756257;
    border-radius: 4px;
    line-height: 20px;
    font-style: normal;
    border: 0px;
}

.product-card-button-favorite {
  width: 133px;
  height: 37px;
  color: #ffffff;
  font-size: 16px;
  background-color: #82B3D3;
  border-radius: 4px;
  line-height: 20px;
  font-style: normal;
  border: 0px;
}

.product-card-button-favorite-one {
  display: flex;
  justify-content: flex-end;
}

.product-card-score-one {
  display: flex;
  justify-content: flex-end;
}

.product-card-button-favorite-added {
  width: 133px;
  height: 37px;
  color: #ffffff;
  font-size: 16px;
  background-color: rgba(125, 181, 79, 1);
  border-radius: 4px;
  line-height: 20px;
  font-style: normal;
  border: 0px;
}

.show-more-button-container {
  margin: auto;
  display: flex;
  width: 1056px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 30px;
}

.button-pagination-show-more {
  display: flex;
  width: 619px;
  height: 60px;
  background-color: #83B3D3;
  border-radius: 4px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  border: 0px;
  flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.product-card-score {
  margin-top: 16px;
  width: 160px;
  height: 37px;
  border: 0px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

}

.pagination {
  height: 55px;
  width: 1056px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  padding: 0 5px;
}

.pagination-item {
  flex: 1 1 auto;
  margin: 0 5px;
  display: flex;
  width: 55px;
  height: 55px;
  background: #82B3D3;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-item-pagination-current {
  flex: 1 1 auto;
  margin: 0 5px;
  display: flex;
  width: 55px;
  height: 55px;
  background: rgba(242, 242, 242, 1);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.pagination-link {
text-decoration: none;
font-family: "PT Sans";
size: 20;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: center;
color: #ffffff;
}

.hotel-number-on-page {
margin-left: 300px;
margin-right: 31px;
width: 175px;
height: 23px;
}

.select-control {
  padding-left: 17px;
  width: 160px;
  height: 48px;
  border-color: #E5E5E5;
}

.mailing-catalog {
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center; 
  overflow: auto;
}

.page-footer-title-catalog {
  font-size: 30px;
  margin: auto;
  width: 720px;
  height: 36px;
  display: block;
  text-align: center;
  color: #000000;
}

.news-letter-text-catalog {
  margin-top: 46px;
  margin-bottom: 46px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000000;
  line-height: 26px;
  width: 720px;
  height: 52px;
  text-align: center;
}

.field {
  background-color: #F2F2F2;
}
